<div class="container">
  <% if !@error.nil? %>
    <h1><%= @error %></h1>
  <% end %>
    <div class="row">
      <form class="col s12" action="/admin" method="POST">
        <h4>LING ONLY:</h4>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" name="email" value="email" class="validate">
            <input id="password" type="password" name="password" value="password" class="validate">
            <button>Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div> 